extends index

block variables
  - var containerClassName='container'

block content
  //- HERO SECTION
  section.hero
    .hero-wrapper
      h1.hero__heading.heading-1
        | Let&apos;s 
        br
        |  Explore 
        br
        |  Beautiful Destinations
      p.hero__text
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus voluptate quos atque commodi tempora
        | blanditiis.
        | Quaerat voluptatum reprehenderit, id voluptatibus minus.
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      a.btn.hero__btn(href='#')
        | Go Explore
  
  //- ABOUT SECTION
  section.about
    .about-wrapper
      h2.about__heading.heading-2
        | About Us
      p.about__text
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestias ipsum, est, suscipit consequatur
        | laborum quia repudiandae, sed sint mollitia adipisci eaque. Eius ipsa, deleniti beatae quis, sunt natus
        | debitis,
        | totam velit maiores fugiat explicabo non molestias voluptatem. Expedita, in assumenda inventore officia,
        | culpa
        | obcaecati ullam minus corporis eos vitae quas? Aliquam doloribus ab, vero odit

  //- FEATURE SECTION
  section.features.padding-lr
    .features-wrapper
      .feature
        svg.feature__icon
          use(xlink:href='/img/icons/features/sprite.svg#destination')
        h3.feature__heading Beautiful Destinations
        p.feature__text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos a accusantium assumenda
          | obcaecati tempora velit aspernatur quaerat aliquam odit cupiditate facilis ipsa dicta, ab ea vel, asperiores
          | quis, totam dolorem.
      .feature
        svg.feature__icon
          use(xlink:href='/img/icons/features/sprite.svg#guide')
        h3.feature__heading A Team Of Experts
        p.feature__text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos a accusantium assumenda
          | obcaecati tempora velit aspernatur quaerat aliquam odit cupiditate facilis ipsa dicta, ab ea vel, asperiores
          | quis, totam dolorem.
      .feature
        svg.feature__icon
          use(xlink:href='/img/icons/features/sprite.svg#condition')
        h3.feature__heading In Every condition
        p.feature__text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos a accusantium assumenda
          | obcaecati tempora velit aspernatur quaerat aliquam odit cupiditate facilis ipsa dicta, ab ea vel, asperiores
          | quis, totam dolorem.
    //- End of wrapper

  //- GALLERY SECTION  
  section.gallery
    figure.gallery__item.gallery__item--1.darken
      img.gallery__img(src='/img/homepage/gallery-1.jpg' alt='Gallery image 1')
    figure.gallery__item.gallery__item--2.darken
      img.gallery__img(src='/img/homepage/gallery-2.jpg' alt='Gallery image 2')
    figure.gallery__item.gallery__item--3.darken
      img.gallery__img(src='/img/homepage/gallery-3.jpg' alt='Gallery image 3')
    figure.gallery__item.gallery__item--4.darken
      img.gallery__img(src='/img/homepage/gallery-4.jpg' alt='Gallery image 4')
    figure.gallery__item.gallery__item--5.darken
      img.gallery__img(src='/img/homepage/gallery-5.jpg' alt='Gallery image 5')
    figure.gallery__item.gallery__item--6.darken
      img.gallery__img(src='/img/homepage/gallery-6.jpg' alt='Gallery image 6')

  //- TOUR SECTION    
  section.tours.padding-lr
    h2.tours__heading Some Of Our Tours
    .tours__card-wrapper

      each tour in tours
        .tour__card
          img.tour__img(src=`./img/tours/${tour.name.toLowerCase()}/${tour.coverImage}` alt=`${tour.name}`)
          h4.tour__name= tour.name
          .tour__difficulty
            svg.tour__icon
              use(xlink:href='/img/icons/tour-cards/sprite.svg#difficulty')
            p= tour.difficulty
          .tour__duration
            svg.tour__icon
              use(xlink:href='/img/icons/tour-cards/sprite.svg#duration')
            p= `${tour.durationInDays} days`
          .tour__max-size
            svg.tour__icon
              use(xlink:href='/img/icons/tour-cards/sprite.svg#person')
            p= `${tour.maxGroupSize} people`
          .tour__price
            svg.tour__icon
              use(xlink:href='/img/icons/tour-cards/sprite.svg#price')
            p= `${tour.price}`
          a.btn.tour__btn(href=`/tour-details/${tour.slug}`) Details
    a.btn.btn__more(href='')
      span.btn__more-text More Tours
      svg.btn__more-icon
        use(xlink:href='./img/icons/arrows/sprite.svg#arrow-thin')
  
  //- REVIEW SECTION
  section.review.padding-lr
    .review-wrapper
      blockquote.review__quote
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat est tempora
        | corporis minima dolor! Debitis atque fuga, iste nam est consequatur corrupti - 
        span Marianne

  //- GUIDES SECTION
  section.guides.padding-lr
    h2.guides__heading Some Of Our Guides
    .guides__card-wrapper

      each guide in guides
        .guide__card
          img.guide__img(src=`./img/users/${guide.photo}` alt=`${guide.fullName}`)
          h3.guide__name= guide.fullName
          p.guide__type= guide.role
          p.guide__email= guide.email
        