extends index
include _mixin-tour-details

block variables
  - var containerClassName='container-tour'

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.1.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.1.0/mapbox-gl.css' rel='stylesheet')
  script(src='https://js.stripe.com/v3/')

block content

  //---------------
  //- HERO SECTION
  //---------------
  section.hero-tour
    img.hero-tour__img(src=`../img/tours/${tour.name.toLowerCase()}/${tour.coverImage}` alt=`tour.name`)
    .hero-tour-wrapper
      h1.hero-tour__heading= tour.name

  //- --------------
  //- DESCRIPTION & DETAILS SECTION
  //- --------------
  section.details-tour
    .grid-wrapper
      .description-box
        .description-wrapper
          h2.description__heading
            | Description
          p.description__text= tour.description

      //-------------   
      //-ABOUT SECTION
      .about-box
        h3.details-tour__heading
          | About this tour
        .grid-auto-fit

          - const startingDate = tour.startDates[0].toLocaleString('en-us', {weekday: 'long', month: 'long', year: 'numeric', day: 'numeric'})
            +tourDetails('date', 'Starting Date', startingDate)
            +tourDetails('duration', 'Duration In Days', `${tour.durationInDays} days`)
            +tourDetails('users', 'Group Size', `${tour.maxGroupSize} participants`)
            +tourDetails('difficulty', 'Difficulty', tour.difficulty)
            +tourDetails('star', 'Rating', `${tour.averageOfRatings} (${tour.numberOfRatings})`)
            +tourDetails('users', 'Number Of Guides', tour.guides.length)

  //- --------------
  //- GALLERY SECTION
  //- --------------
  section.gallery-tour

    each image, index in tour.images
      figure(class=`gallery-tour__item gallery-tour__item--${index + 1}`)
        img.gallery-tour__img(src=`../img/tours/${tour.name.toLowerCase()}/${image}` alt=`Gallery image ${index + 1}`)

  //- --------------
  //- MAP SECTION
  //- --------------
  section.map-tour
    #map(data-tour-locations=`${JSON.stringify(tour.locations)}`)
  //- --------------
  //- REVIEWS SECTION
  //- --------------
  section.reviews
    .reviews__cards-wrapper

      each review in tour.reviews
        +reviewCard(review)

  //- --------------
  //- BOOK TOUR SECTION
  //- --------------
  section.book-tour
    .book-tour-wrapper
      p.book-tour__text
        span From
        span= `${tour.price}€`
        span per person

      if(user)
        button#checkout-button.book-tour__btn(data-tour-id=`${tour.id}`) Book Now
      else 
        a.book-tour__btn(href='/login') Login to book you tour!