extends index

block variables
  - var containerClassName='container-tour'

block append head
  script(src='/javascript/mapbox.js')

mixin tourDetails(icon, subheading, text)
  .details-tour-wrapper
    .details-tour__subheading-wrapper
      svg.details-tour__icon
        use(xlink:href=`../img/icons/tour-details/sprite.svg#${icon}`)
      h5.details-tour__subheading= subheading
    p.details-tour__text= text

mixin reviewCard(review)
  .review__card
    img.review__photo(src=`../img/users/${review.user.photo}` alt=`User ${review.user.fullName}`)
    h5.review__heading= review.user.fullName
    p.review__text= review.review
    .review__rating
      each star in [1,2,3,4,5]
        svg.review__star(class= `review__star--${review.rating >= star ? 'full' : 'empty'}`)
          use(xlink:href='../img/icons/review-cards/sprite.svg#star-full')

    
block content

  //---------------
  //- HERO SECTION
  //---------------
  section.hero-tour
    img.hero-tour__img(src=`../img/tours/${tour.name.toLowerCase()}/${tour.coverImage}` alt=`tour.name`)
    .hero-tour-wrapper
      h1.hero-tour__heading= tour.name

  //- --------------
  //- DESCRIPTION & DETAILS SECTION
  //- --------------
  section.details-tour
    .grid-wrapper
      .description-box
        .description-wrapper
          h2.description__heading
            | Description
          p.description__text= tour.description
          p.description__text= tour.description

      //-------------   
      //-ABOUT SECTION
      .about-box
        h3.details-tour__heading
          | About this tour
        .grid-auto-fit

          - const startingDate = tour.startDates[0].toLocaleString('en-us', {weekday: 'long', month: 'long', year: 'numeric', day: 'numeric'})
          +tourDetails('starting-date', 'Starting Date', startingDate)
          +tourDetails('duration', 'Duration In Days', `${tour.durationInDays} days`)
          +tourDetails('group', 'Group Size', `${tour.maxGroupSize} participants`)
          +tourDetails('difficulty', 'Difficulty', tour.difficulty)
          +tourDetails('rating-star', 'Rating', `${tour.averageOfRatings} (${tour.numberOfRatings})`)
          +tourDetails('guide', 'Number Of Guides', tour.guides.length)

  //- --------------
  //- GALLERY SECTION
  //- --------------
  section.gallery-tour

    each image, index in tour.images
      figure(class=`gallery-tour__item gallery-tour__item--${index + 1}`)
        img.gallery-tour__img(src=`../img/tours/${tour.name.toLowerCase()}/${image}` alt=`Gallery image ${index + 1}`)

  //- --------------
  //- MAP SECTION
  //- --------------
  section.map-tour
    | Map
  //- --------------
  //- REVIEWS SECTION
  //- --------------
  section.reviews
    .reviews__cards-wrapper

      each review in tour.reviews
        +reviewCard(review)

  //- --------------
  //- BOOK TOUR SECTION
  //- --------------
  section.book-tour
    .book-tour-wrapper
      p.book-tour__text
        span From
        span= `${tour.price}€`
        span per person
      button.book-tour__btn(type='submit') Book Now
